.venv/
build/
dist/
logs/
dictionaries/
macro_template.xlsm
learning/manual_learning.json
App.py
App.spec
Delitel.py
Delitel.spec
itb.ico
itb.spec
macro_template.xlsm.mpp
MainApp.spec
settings.json
wordlist.py
Проект.zip# created by virtualenv automatically
*.log


